

services:
  nginx-ja4-nopatch:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8443:443"
      - "8080:8080"
    volumes:
      - ./nginx.conf:/etc/nginx/conf/nginx.conf
